@import '../../App.scss';

.navbar {
  background: $mainBlack;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  padding: 2rem  3rem;
  width: 100vw;
}

.nav-links {
  list-style: none;
  display: flex;
  margin-top: 10px;
}

.nav-link {
  margin-right: 4rem;
  color: $mainWhite;
  font-size: 1.2rem;
  text-decoration: none;
  transition: all 0.5s linear;
  &:hover {
    color: $mainGreen;
  }
}

.active {
  color: $mainGreen;
}
